<div class="results-page">
  <div class="jumbotron" style="background-color: white; padding-left:50px;margin-right:50px;padding-top: 20px;padding-right: 50px;">

    <!-- NAME -->
    <h1>Hello, <%= @user.twitter_handle %></h1>

    <!-- PHOTO -->
    <div class="percentages_image">
      <img class="img-circle" src="<%= @twitter_photo %>" alt="Twitter Profile Picture" style="vertical-align:bottom;">
    </div>

    <div class="percentages">
      <% if !@tweets.nil?%>
        <div style="font-size:110px;margin-bottom:45px;"><%= @twitter_percentage %>%</div>
      <% end %>
    </div>

    <div class="percentages">
      <% if !@tweets.nil?%>
        <div style="font-size:20px;margin-bottom:88px;"><p>The percentage of tweets that <br> may be embarrassing or profane.</p></div>
      <% end %>
    </div>
  </div>

  <% if @tweets.size > 0%>
    <h2>Your tainted tweets: </h2>
      <p><%= render "users/twitter" %></p>
  <% else %>
  	<h2>Good job! Your tweets are squeaky clean. </h2>
  <% end %>
</div>


