.masonry{
}

.masonry .item,
.masonry .grid-sizer{
	width:25%;
}

.masonry .item,
.masonry .grid-sizer {
   height: auto;
   float: left;
}
.grid-sizer{
	width:100%;
	padding-right: 5%;
}

@media screen and (max-width:768px) {
	.masonry .item,
  .masonry .grid-sizer {
    width: 50%;
  }
}

@media screen and (max-width:480px) {
	.masonry .item,
	.masonry .grid-sizer {
		width: 100%;
  }
}