.masonry{
}

.masonry .item,
.masonry{
	width:25%;
}

.masonry .item,
.masonry .grid-sizer {
   height: auto;
   float: left;
}
.grid-sizer{
	width:90%;
	padding-right: 5%;
	padding-bottom:50px;
}

@media screen and (max-width:768px) {
	.masonry .item,
  .masonry .grid-sizer {
    width: 50%;
  }
}

@media screen and (max-width:480px) {
	.masonry .item,
	.masonry .grid-sizer {
		width: 100%;
  }
}


.fb-comment{
	padding: 4px;
	background-color: #e9eaed;
	border:none;
	margin: 1px;
}

.fb-comment-name{
	color: #3b5998;
	font-weight: bold;
}