// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http:\/\/fonts.googleapis.com/css?family=Open+Sans:700);

body {
  font-family: 'Open Sans', sans-serif;
}

.background {
  background-color: #ecf0f1;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

.uncle-sam {
  display: inline-block;
  margin-left: 40px;
}

.title {

}

.percentages {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 60px;
}

.percentages_image{
  display: inline-block;
}

.red {
  color: #c0392b;
  text-shadow: -2px 0 #2c3e50, 0 2px #2c3e50, 2px 0 #2c3e50, 0 -2px #2c3e50;
  display: inline-block;
  margin-left: 90px;
}

.blue {
  color: #2c3e50;
  text-shadow: -2px 0 #c0392b, 0 2px #c0392b, 2px 0 #c0392b, 0 -2px #c0392b;
  display: inline-block;
  margin-left: 20px;
}

.jumbotron {

}

.results-page {
  margin-left: 50px;
  margin-top: 50px;
}

.jumbotronish{
  opacity: 1;
  width: 550px;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 25px;
  display: inline-block;
}

/* unvisited link */
a:link {
    color: #2c3e50;
}

/* visited link */
a:visited {
    color: #2c3e50;
}

/* mouse over link */
a:hover {
    color: #2c3e50;
}

/* selected link */
a:active {
    color: #2c3e50;
}

.tweets {

}

.fb-status {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
}

.fb-status-box {
  background-color: white;
  width: 400px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

.fb-inside-the-box {
  padding-top: 5px;
  margin-left: 5px;
}

.fb-name {
  font-weight: bold;
  color: #3b5998;
}

#main-footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background:#ecf0f1;
} 

#load-banner{
  text-align:center;
}