// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  background-color: #c0392b;
  background-size: 100%;
  background-repeat: no-repeat;
}

.jumbotronish{
  opacity: 1;
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 25px;
}