<footer id="main-footer">

  <div class="container">
    
    <div class="row">
    
      <div class="col-sm-12" style="text-align: right;">
        <a href="/">Home</a> | <a href="/about">About</a> | Made with ♥ at <a href="http://flatironschool.com">The Flatiron School</a>
      </div>
      
    </div>
    
  </div>
  
</footer>