<footer id="main-footer">

  <div class="container">
    
    <div class="row">
    
      <div class="col-sm-12" style="text-align: right;">
        <a href="/">Home</a> | <a href="/about" data-toggle="modal" data-target="#myModal">About</a> | Made with ♥ at <a href="http://flatironschool.com">The Flatiron School</a>
      </div>
      
    </div>
    
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">About</h4>
	      </div>
	      <div class="modal-body">
	      	<strong>You Will Never Be President</strong> is based on the idea that your digital footprint carries with you everywhere. Somewhere out there, is an embarrassing photo of you partying in 2009 or a tweet that's just a little offensive. Some of these moments might be lost in your subconcious but don't worry, we're here to help.</br><br>

	      	We'll show you the obscene tweets and facebook statuses that you may have forgotten about. Oh, and old photos too! We determine a negative photo by iterating through comments for profanity. Finally, we'll calculate a "Social Gravescore" which tells you just how obscene of a person your social past has been. </br></br>

	      	Have fun!</br></br>

	        Made by <a href="http://twitter.com/joshuabamboo" target="_blank">Joshua Owens</a> and <a href="http://twitter.com/kana_abe" target="_blank">Kana Abe</a>.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
  
</footer>