<!DOCTYPE html>
<html>
<head>
  <title>YouWillNeverBePresident</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
	<a href="/about">About</a> | Made with &#10084; at <a href="http://flatironschool.com">The Flatiron School</a>
</footer>
</html>